body.hideGrok {
  header a[href*="/i/grok"] {
      display: none !important;
  }

  div#layers div[data-testid="GrokDrawer"] {
    display: none !important;
  }
}

body.hideSidebar {
  div[data-testid="sidebarColumn"] {
    div:has(> div > aside > a[href="/i/premium_sign_up"]),
    div:has(> div > aside > ul > li[data-testid="UserCell"]),
    div:has(> section div > div > div[data-testid="trend"]),
    div[data-testid="super-upsell-UpsellCardRenderProperties"],
    div:has(> div[data-testid="news_sidebar"]) {
      display: none !important;
    }
  }
}

body.hidePremium {
  header a[href*="/i/premium_sign_up"] {
    display: none !important;
  }
}

body.hideCommunities {
  header a[href*="/communities"] {
    display: none !important;
  }
}

body.hideExplore {
  a[data-testid="AppTabBar_Explore_Link"] {
      display: none !important;
  }
}

body.hideViewCount {
  article[data-testid="tweet"] {
    div.r-1wtj0ep a[href*="/status/"] + span + span span {
      display: none;
    }
    a[href$="/analytics"] {
      span {
        display: none;
      }
    }
    div:has(>a>time) ~ div span:has(>span)  {
      display: none;
    }
  }
  div[role="dialog"] {
    a[href$="/analytics"] {
      span {
        display: none;
      }
    }
  }
}

body.hideReactionCount {
  div[data-testid="primaryColumn"] article:not(:hover) button {
    &[data-testid="reply"] ,
    &[data-testid="retweet"] ,
    &[data-testid="unretweet"] ,
    &[data-testid="like"] ,
    &[data-testid="unlike"],
    &[data-testid="bookmark"],
    &[data-testid="removeBookmark"] {
      span {
        opacity: 0 !important;
        transition-property: transform, opacity !important;
      }
    }
  }
  div[data-testid="primaryColumn"] article button {
    &[data-testid="reply"] ,
    &[data-testid="retweet"] ,
    &[data-testid="unretweet"] ,
    &[data-testid="like"] ,
    &[data-testid="unlike"],
    &[data-testid="bookmark"],
    &[data-testid="removeBookmark"] {
      span {
        opacity: 0 !important;
        transition-property: transform, opacity !important;
      }
    }
  }
}