body.hideGrok {
  header a[href*="/i/grok"] {
      display: none !important;
  }

  div#layers div[data-testid="GrokDrawer"] {
    display: none !important;
  }
}

body.hideSidebar {
  div[data-testid="sidebarColumn"] {
    div:has(> div > aside > a[href="/i/premium_sign_up"]),
    div:has(> div > aside > ul > li[data-testid="UserCell"]),
    div:has(> section div > div > div[data-testid="trend"]),
    div[data-testid="super-upsell-UpsellCardRenderProperties"],
    div:has(> div[data-testid="news_sidebar"]) {
      display: none !important;
    }
  }
}

body.hidePremium {
  header a[href*="/i/premium_sign_up"] {
    display: none !important;
  }
}

body.hideCommunities {
  header a[href*="/communities"] {
    display: none !important;
  }
}

body.hideExplore {
  a[data-testid="AppTabBar_Explore_Link"] {
      display: none !important;
  }
}

body.hideViewCount {
  article[data-testid="tweet"] {
    div.r-1wtj0ep a[href*="/status/"] + span + span span {
      display: none;
    }
    a[href$="/analytics"] {
      span {
        display: none;
      }
    }
    div:has(>a>time) ~ div span:has(>span)  {
      display: none;
    }
  }
  div[role="dialog"] {
    a[href$="/analytics"] {
      span {
        display: none;
      }
    }
  }
}

// TESTING STUFF FOR NOW (will be separated later)

// main text color
.css-1jxf684 {
  color: rgb(255, 191, 191) !important;
  text-shadow: 
    2px 3px 4px rgba(0, 0, 0, 0.95), 
}

// secondary text color
.r-a023e6, .r-n6v787 {
  color: rgb(255, 0, 0) !important;
}
// post button, edit button etc...
.css-175oi2r.r-sdzlij.r-1ny4l3l.r-1loqt21 {
    background-color: rgb(122, 0, 0) !important; 
    box-shadow: 
        0 0 2px #fff,
        0 0 5px rgb(122, 0, 0),
        0 0 10px rgb(122, 0, 0) !important;
}



// changes global font style
html[data-theme="dark"] body * {
  font-family: "Helvetica", "Arial", sans-serif !important;
  font-style: bold;
}

//this makes transparent all the elements that can hide the background image
.jetfuel-style-root,
html[data-theme="dark"] body,
#react-root > div,
#react-root > div > div > div, 
.r-1oshtsd, .r-1if0iil, .r-aqfbo4, .r-1otgn73, .r-1aockhh,
.css-1dbjc4n,
[data-testid="placement-root"],
main {
  background-color: transparent !important; 
}

//feed background
.r-kemksi {
  background-color: rgba(0, 0, 0, 0.2) !important;
}

#x-background-overlay {
  position: fixed !important;
  inset: 0 !important;
  z-index: -1 !important;
  pointer-events: none !important;
  background-image: var(--mizu-bg-url) !important;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  opacity: 0.3 !important;
}
